__pycache__/
*.py[cod]
*$py.class

/pretrained/Wan2.1_VAE.pth
cache/
data/
.venv

# 模型权重
checkpoints/
*.pth
*.ckpt
*.safetensors

# 运行结果
*.csv
*.png    
*.jpg
*.mp4    
results/ 
logs/    

# --- 系统和环境文件 ---
.DS_Store
.venv/
venv/
cache/
*.lock